@import "tailwindcss";

@font-face {
  font-family: 'Peaberry Base';
  src: url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Base/PeaberryBase.eot');
  src: url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Base/PeaberryBase.eot?#iefix') format('embedded-opentype'),
    url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Base/PeaberryBase.woff2') format('woff2'),
    url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Base/PeaberryBase.woff') format('woff'),
    url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Base/PeaberryBase.ttf') format('truetype'),
    url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Base/PeaberryBase.svg#PeaberryBase') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Peaberry Monospace';
  src: url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Monospace/PeaberryMono.eot');
  src: url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Monospace/PeaberryMono.eot?#iefix') format('embedded-opentype'),
    url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Monospace/PeaberryMono.woff2') format('woff2'),
    url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Monospace/PeaberryMono.woff') format('woff'),
    url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Monospace/PeaberryMono.ttf') format('truetype'),
    url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Monospace/PeaberryMono.svg#PeaberryMono') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Peaberry Doublespace';
  src: url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Doublespace/PeaberryDoublespace.eot');
  src: url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Doublespace/PeaberryDoublespace.eot?#iefix') format('embedded-opentype'),
    url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Doublespace/PeaberryDoublespace.woff2') format('woff2'),
    url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Doublespace/PeaberryDoublespace.woff') format('woff'),
    url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Doublespace/PeaberryDoublespace.ttf') format('truetype'),
    url('/2026/Peaberry-Font-v2.0/Peaberry Font Family/Peaberry Doublespace/PeaberryDoublespace.svg#PeaberryDoublespace') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-ubuntu: Ubuntu mono, monospace;
  --font-lexend: Lexend, sans-serif;
  --font-peaberry-base: 'Peaberry Base', monospace;
  --font-peaberry-mono: 'Peaberry Monospace', monospace;
  --font-peaberry-doublespace: 'Peaberry Doublespace', monospace;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  @apply flex flex-col min-h-screen font-lexend text-zinc-800;
}

.theme-bg-gradient {
  background-image: linear-gradient(120deg, #86e293 0%, #86e6c6 100%);
}

a.theme-hyperlink {
  @apply text-red-600 hover:text-red-700;
}

section {
  @apply p-4 sm:px-8 text-lg;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

h5 {
  @apply text-lg font-bold;
}

h6 {
  @apply text-base font-bold;
}

h1,
h2,
h3,
p,
ul {
  @apply mb-4;
}

h4,
h5,
h6,
li {
  @apply mb-2;
}
